<section class="section">
  <div class="container has-text-centered">
    <p>{{ .Site.Copyright | safeHTML }}</p>
  </div>
</section>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.3.0/highlightjs-line-numbers.min.js"></script>
{{ range .Site.Params.highlight.languages }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/languages/{{ . }}.min.js"></script>
{{ end }}
<script>
  var snippets = document.querySelectorAll('.language-scala');

  snippets.forEach(function(block) {
    hljs.lineNumbersBlock(block);
  });
  [].forEach.call(snippets, function(snippet) {
      snippet.insertAdjacentHTML('beforebegin', '<button class="clipboard" data-clipboard-snippet>Copy</button>');
  });

  var clipboardSnippets = new ClipboardJS('[data-clipboard-snippet]', {
      target: function(trigger) {
          return trigger.nextElementSibling;
      }
  });

  clipboardSnippets.on('success', function(e) {
      e.clearSelection();

      showTooltip(e.trigger, 'Copied!');
  });

  clipboardSnippets.on('error', function(e) {
      showTooltip(e.trigger, fallbackMessage(e.action));
  });

  var btns = document.querySelectorAll('.clipboard');

  for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener('mouseleave', clearTooltip);
      btns[i].addEventListener('blur', clearTooltip);
  }

  function clearTooltip(e) {
      e.currentTarget.setAttribute('class', 'clipboard');
      e.currentTarget.removeAttribute('aria-label');
  }

  function showTooltip(elem, msg) {
      elem.setAttribute('class', 'clipboard tooltipped tooltipped-s tooltipped-no-delay');
      elem.setAttribute('aria-label', msg);
  }
  hljs.initHighlightingOnLoad();
</script>
{{ if not .Site.IsServer }}
  {{ if .Site.GoogleAnalytics }}
  {{ template "_internal/google_analytics_async.html" . }}
  {{ end }}
{{ end }}
</html>
